fastapi
uvicorn
sqlalchemy
alembic
python-dotenv
python-multipart
pydantic
pydantic-settings
pydantic[email]
sqlmodel
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
bcrypt==4.0.1
cryptography
email-validator
requests
google-auth